@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    overflow-y: auto;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
